*{
  margin: 0;
  padding : 0;
   box-sizing: border-box; 
  font-family: Outfit,sans-serif;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  gap: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f9f9f9;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-content label,
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content label:hover,
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.selected-filters {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.selected-filter {
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.sort {
  position: relative;
  display: inline-block;
}

.sort .dropdown-content {
  right: 0;
  left: auto;
}
